.card {
  background: radial-gradient(
    circle,
    rgb(255, 255, 255),
    rgb(114, 164, 211),
    rgb(106, 170, 218)
  );
  box-shadow: rgba(44, 137, 224, 0.4) 5px 5px, rgba(44, 137, 224, 0.3) 10px 10px,
    rgba(44, 137, 224, 0.2) 15px 15px, rgba(106, 170, 218, 0.1) 20px 20px,
    rgba(106, 170, 218, 0.05) 25px 25px;
}
body {
  background-color: lightgray;
}
